<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audioEmulatorEnabled</key>
	<true/>
	<key>audioEmulatorVolume</key>
	<real>0.316227766</real>
	<key>audioEnabled</key>
	<true/>
	<key>audioSkinEnabled</key>
	<true/>
	<key>audioSkinVolume</key>
	<real>0.501187234</real>
	<key>audioSubstituteClick</key>
	<false/>
	<key>audioVolume</key>
	<integer>1</integer>
	<key>emulatorAuthenticCalculatorSpeed</key>
	<false/>
	<key>emulatorGXCycles</key>
	<integer>123</integer>
	<key>emulatorLowBatDisable</key>
	<true/>
	<key>emulatorSXCycles</key>
	<integer>82</integer>
	<key>emulatorPort2Enabled</key>
	<true/>
	<key>filesAutobackupOnLoad</key>
	<true/>
	<key>filesAutoloadOnStartup</key>
	<true/>
	<key>filesAutosaveOnExit</key>
	<true/>
	<key>graphicsOrientationLockEnabled</key>
	<false/>
	<key>graphicsOrientationPreferred</key>
	<string>portrait</string>
	<key>graphicsStaticsFilterEnabled</key>
	<true/>
	<key>graphicsZoom</key>
	<string>fullstretch</string>
	<key>informationAutoUpdate</key>
	<true/>
	<key>informationAutoUpdateFrequency</key>
	<string>daily</string>
	<key>internalCurrentDocumentDirectory</key>
	<string></string>
	<key>internalCurrentDocumentFilename</key>
	<string></string>
	<key>internalCurrentVersionNumber</key>
	<string>0.0</string>
	<key>internalCurrentXmlDirectory</key>
	<string></string>
	<key>internalCurrentXmlFilename</key>
	<string></string>
	<key>internalCurrentXmlHasUIStatusBar</key>
	<false/>
	<key>internalCurrentXmlUIInterfaceOrientation</key>
	<integer>0</integer>
	<key>internalCurrentXmlUIStatusBarStyle</key>
	<integer>0</integer>
	<key>internalCurrentFilemanagerDirectory</key>
	<string></string>
	<key>internalIsIPad</key>
	<false/>
	<key>internalIsIPhone5</key>
	<false/>
	<key>internalIsRetina</key>
	<false/>
	<key>internalStartupInProgress</key>
	<false/>
	<key>internalTimesAppLaunched</key>
	<integer>0</integer>
	<key>resetShouldReset</key>
	<false/>
	<key>serverEnabled</key>
	<false/>
</dict>
</plist>
