<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Calculator</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>filesAutoloadOnStartup</string>
			<key>Title</key>
			<string>Auto Load On Start</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>filesAutosaveOnExit</string>
			<key>Title</key>
			<string>Auto Save On Exit</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Emulation</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>emulatorAuthenticCalculatorSpeed</string>
			<key>Title</key>
			<string>Authentic Speed</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>emulatorPort2Enabled</string>
			<key>Title</key>
			<string>Port 2 (HP48)</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Audio</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>audioEnabled</string>
			<key>Title</key>
			<string>On/Off</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>audioVolume</string>
			<key>Title</key>
			<string>Volume</string>
			<key>Type</key>
			<string>PSVolumeSliderSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Import/Export Server</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>serverEnabled</string>
			<key>Title</key>
			<string>Enable on WLAN</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Information</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>informationAutoUpdate</string>
			<key>Title</key>
			<string>Auto Update</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>monthly</string>
			<key>Key</key>
			<string>informationAutoUpdateFrequency</string>
			<key>Title</key>
			<string>Update Frequency</string>
			<key>Titles</key>
			<array>
				<string>Always</string>
				<string>Daily</string>
				<string>Weekly</string>
				<string>Monthly</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>always</string>
				<string>daily</string>
				<string>weekly</string>
				<string>monthly</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Advanced</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>PreferenceSpecifiers</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Emulation</string>
					<key>Type</key>
					<string>PSGroupSpecifier</string>
				</dict>
				<dict>
					<key>DefaultValue</key>
					<false/>
					<key>Key</key>
					<string>emulatorLowBatDisable</string>
					<key>Title</key>
					<string>Low Bat Disable</string>
					<key>Type</key>
					<string>PSToggleSwitchSpecifier</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Audio</string>
					<key>Type</key>
					<string>PSGroupSpecifier</string>
				</dict>
				<dict>
					<key>DefaultValue</key>
					<true/>
					<key>Key</key>
					<string>audioEmulatorEnabled</string>
					<key>Title</key>
					<string>Emulator Sound</string>
					<key>Type</key>
					<string>PSToggleSwitchSpecifier</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>audioEmulatorVolume</string>
					<key>Title</key>
					<string>Volume</string>
					<key>Type</key>
					<string>PSVolumeSliderSpecifier</string>
				</dict>
				<dict>
					<key>DefaultValue</key>
					<true/>
					<key>Key</key>
					<string>audioSkinEnabled</string>
					<key>Title</key>
					<string>Skin Sound</string>
					<key>Type</key>
					<string>PSToggleSwitchSpecifier</string>
				</dict>
				<dict>
					<key>Key</key>
					<string>audioSkinVolume</string>
					<key>Title</key>
					<string>Volume</string>
					<key>Type</key>
					<string>PSVolumeSliderSpecifier</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Interface</string>
					<key>Type</key>
					<string>PSGroupSpecifier</string>
				</dict>
				<dict>
					<key>DefaultValue</key>
					<false/>
					<key>Key</key>
					<string>graphicsOrientationLockEnabled</string>
					<key>Title</key>
					<string>Lock Orientation</string>
					<key>Type</key>
					<string>PSToggleSwitchSpecifier</string>
				</dict>
				<dict>
					<key>DefaultValue</key>
					<string>portrait</string>
					<key>Key</key>
					<string>graphicsOrientationPreferred</string>
					<key>Title</key>
					<string>Preferred Orientation</string>
					<key>Titles</key>
					<array>
						<string>Portrait</string>
						<string>Landscape Left</string>
						<string>Landscape Right</string>
						<string>Portrait Upside Down</string>
					</array>
					<key>Type</key>
					<string>PSMultiValueSpecifier</string>
					<key>Values</key>
					<array>
						<string>portrait</string>
						<string>landscapeLeft</string>
						<string>landscapeRight</string>
						<string>portraitUpsideDown</string>
					</array>
				</dict>
				<dict>
					<key>DefaultValue</key>
					<string>best</string>
					<key>Key</key>
					<string>graphicsZoom</string>
					<key>Title</key>
					<string>Zoom</string>
					<key>Titles</key>
					<array>
						<string>Best</string>
						<string>Fullscreen</string>
						<string>None</string>
						<string>Fullscreen (stretch)</string>
					</array>
					<key>Type</key>
					<string>PSMultiValueSpecifier</string>
					<key>Values</key>
					<array>
						<string>best</string>
						<string>fullscreen</string>
						<string>1x</string>
						<string>fullstretch</string>
					</array>
				</dict>
				<dict>
					<key>Title</key>
					<string>Factory Reset</string>
					<key>Type</key>
					<string>PSGroupSpecifier</string>
				</dict>
				<dict>
					<key>DefaultValue</key>
					<false/>
					<key>Key</key>
					<string>resetShouldReset</string>
					<key>Title</key>
					<string>Reset On Next Startup</string>
					<key>Type</key>
					<string>PSToggleSwitchSpecifier</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Advanced Settings</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
	<key>Title</key>
	<string>Settings</string>
</dict>
</plist>
